.jaguar {
  height: 70vh;
  width: 100%;
}

.text-white b:hover {
  font-size: 1.25rem;
  background-color: white;
  color: black;
  font-family: serif;
  padding: 10px;
  border-radius: 1px 12px 1px 12px;
  cursor: pointer;
}


