<!-- <div>
  <video #videoElm id="video" src="../../../assets/videos/MSD knock.mp4" controls height="400px" width="500px"></video>
  <canvas #canvasElm></canvas>
</div> -->

<!-- <div class="map" id="map" style="width: 950px; height: 500px;"  center="center"  ></div> -->

<div class="map" id="map" class="match-parent" style="height:600px; width:1000px"  center="center">
  <!-- <mgl-marker
  [lngLat]="[-73.985664, 40.748514]"
  [draggable]="false"
>
  <div class="marker"></div>
</mgl-marker> -->

</div>



