<div class="card container shadow mt-5 ms-3">
  <b class="ms-3 mt-2">Getting latitude, logitude,date, time and device ID. </b>
  <p class="ms-3">All details will come after image has uploaded.</p>
  <input type="file" accept="image/*" (change)="imgUpload($event)" class="ms-3 mb-3">
</div>


<div *ngIf="imgUrl" class="container mt-4">
 <div>
  <img src={{imgUrl}} alt="" height="250px" width="250px">
  <p> latitude: <b>{{latitude}}</b>  longitude: <b>{{longitude}}</b> </p>
  <p> Date <b> {{ current_date | date }} </b> TIme : <b> {{ current_date| date:'h:mm:ss a'}} </b> </p>
  <p>Device ID: <b>{{deviceId}}</b></p>
 </div>

</div>


















