

.profile {
  margin-top: 1%;
  position:absolute;
  transform: translateX(62rem);
}
.mahesh{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.small-sidebar {
  .sidebar-header {
    display: block !important;
    text-align: center;
  }

  .pi {
    font-size: 20px;
  }

  transition: all linear 0.3s;

  .site-name {
    display: none !important;
  }

  width: 6rem;
  text-align: center;
}

.large-sidebar {
  transition: all linear 0.3s;
  width: 20rem !important;

  .site-name1 {
    display: none !important;
  }
}

.sidebar {
  background-color: #eee0a9 !important;
  top: 0;
  left: 0;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  border: 0 none;

  .sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-content {
    border-top: 1px solid #0b0b0b;
    padding: 1.25rem;
    position: relative;
  }
}


.listbox-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #ee2506;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
}

.sidebar .sidebar-header+.sidebar-content {
  padding-top: 0;
}

// listbox
.listbox-list {
  padding: 0.75rem 0;
  list-style-type: none;
  margin: 0;
}

.listbox-item:hover {
  background-color: #bdedcf;
  color: #20854e;
  font-weight: 500;
  border-radius: 4px;
}

// header
.header {
  height: auto !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  width: 100%;
  background-color: #FFF !important;

  button.menu-button {
    display: none;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
  }
}

.active {
  color: #20854e;
}

.content-inner {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .sidebar {
    display: none !important;
  }

  .header {
    height: auto !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    width: 100% !important;
    // float: left;
    // left: 0;
    // position: fixed;
    background-color: #FFF !important;

    .none {
      display: none !important;
    }

    button.menu-button {
      display: block;
      padding: 10px 15px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #000;
    }
  }

}

.carImg {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 75%;
}

.brandImg {
  height: 5.25rem;
  width: 10.25rem;
  border-radius: 75%;
}
